sudo: required
dist: xenial
language: cpp
compiler:
  - gcc
env:
  matrix:
    - GCC_VER="5"
    - GCC_VER="6"



before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y python-pip python-dev build-essential 
  - sudo pip install --upgrade pip
  - sudo pip install cpp-coveralls
  - sudo apt-get install -y libopencv-dev
  - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key|sudo apt-key add -
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo add-apt-repository ppa:boost-latest/ppa -y
  - sudo add-apt-repository ppa:george-edison55/cmake-3.x -y
  - sudo apt-get update -qq
  - sudo apt-get install -qq g++-$GCC_VER
  - export CXX="g++-$GCC_VER" CC="gcc-$GCC_VER" GCOV="gcov-$GCC_VER"
  - sudo apt-get install -y git
  - sudo apt-get install -y doxygen
  - sudo apt-get install -y make cmake cmake-data

install:
  - sudo apt-get install -y libgtest-dev libunittest++-dev
  - sudo apt-get install -y libicu-dev
  - sudo apt-get install -y libboost-all-dev

before_script:
  - cd $TRAVIS_BUILD_DIR
  - mkdir -p $TRAVIS_BUILD_DIR/build
  - cd $TRAVIS_BUILD_DIR/build
  - cmake -H$TRAVIS_BUILD_DIR -B$TRAVIS_BUILD_DIR/build
    -DCMAKE_CXX_COMPILER=$COMPILER -DCMAKE_BUILD_TYPE=$CMAKE_BUILD_TYPE 
    -DBUILD_SHARED_LIBS=FALSE -DBUILD_TESTING=OFF -DBuildTests=OFF 
    -DCXXOPTS_BUILD_EXAMPLES=OFF -DCXXOPTS_BUILD_TESTS=OFF 
    -DENTITYX_BUILD_TESTING=OFF -DENTITYX_RUN_BENCHMARKS=OFF 
    -DSKIP_PORTABILITY_TEST=ON -DTHREAD_SAFE=ON -DWITH_CPP11=ON
    -Dgtest_build_samples=OFF -Dgtest_build_tests=OFF

script: 
  - cd ${TRAVIS_BUILD_DIR}/build
  - make creature_backend_test
  - cd ${TRAVIS_BUILD_DIR}/build/backend
  - ctest
